SECRET_KEY=sua_chave_secreta_aqui_nao_subir_para_o_git
DEBUG=True
ALLOWED_HOST=127.0.0.1

DB_NAME=nome_do_banco_aqui
DB_USER=usuario_do_banco_aqui
DB_PASSWORD=senha_aqui
DB_HOST=localhost
DB_PORT=5432